<div class="parent">
    <div class="main-container">
        <div class="form-wrapper">
          <div class="form-content">
            <!-- Login Form -->
            <form class="form login-form active">
              <h2>Welcome Back!</h2>
              <div class="input-group">
                <input type="email" name="userName" [(ngModel)]="loginObj.userName" placeholder="Email" required>
                <span class="input-icon">📧</span>
              </div>
              <div class="input-group">
                <input type="password" name="password" [(ngModel)]="loginObj.password" placeholder="Password" required>
                <span class="input-icon">🔒</span>
              </div>
              <button type="button" (click)="onLogin()" class="btn">Login</button>
        
            </form>
    
          </div>
        </div>
      </div>
</div>